<div class="nav-bar">
  <div class="branding">
    @mjclyde
  </div>
</div>

<div class="front-page">
  <h1>Hello.</h1>
  <div class="img-container">
    <img src="assets/me.jpg" alt="">
  </div>
  <h1>I'm Matt.</h1>
  <ul>
    <ng-container *ngFor="let label of labels; let i = index">
      <li *ngIf="(label.current$ | async) !== '' || (typingLabel$ | async) === i">
        <span class="prompt {{(typingLabel$ | async) === i ? 'typing': ''}}">$></span>
        {{label.current$ | async}}
        <span class="cursor" *ngIf="(typingLabel$ | async) === i">|</span>
      </li>
    </ng-container>
  </ul>
</div>
